/* .hero{
    height: 100vh;
    width: 100vw;

    background-image: url('../img/fon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;



    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.9;
    }
}



.hero__items{
    position: relative;
    height: 100%;
    z-index: 100000;
}


.hero__item{
    position: absolute;
    top: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);

    width: 100%;
    height: 100%;


    opacity: 0;
    visibility: hidden;
    &.visible{
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }

    transition: all .5s linear;
}



.hero-info{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;

    text-align: center;
    color: #fff;

    pointer-events: none;
}




.hero-info__title{
    margin-bottom: clamp(0.714rem, 0.47rem + 1.3941vw, 2.143rem);
}

.hero-info__sub-title{
    max-width: clamp(80%, 30% ,50%);
    margin-left: auto;
    margin-right: auto;
}


.hero-circle{
    width: clamp(30vh, 85vw, 100vh);
    height: clamp(30vh, 85vw, 100vh);
    width: 50%;
    background-image: url('../img/fon.jpg');

    border-radius: 100%;
    margin: 0 auto;

    box-shadow: 4px 4px 53px 10px rgba(255, 255, 255, 0.2);

    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.9;
        border-radius: 100%;
    }

}

.hero-figure{
    z-index: 10000;
    position: relative;
}



.hero-figure__progress{
    --hero-progress_array: 0;
    --hero-progress_offset: 0;

    stroke-dasharray: var(--hero-progress_array);
    stroke-dashoffset: var(--hero-progress_offset);


    stroke-width: 3;
    @media(max-width: 320px){
        stroke-width: 1.5;
    }
}



.hero__decor{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(29deg);
    width: 50%;
    z-index: -1;
    pointer-events: none;
}

.hero__decor--1{
    left: 50%;
}

.hero__decor--2{
    right: 50%;
}



.hero__icon{
    transform: perspective(500px) scaleZ(2) rotateX(45deg);
    opacity: 0;
    visibility: hidden;

    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 13%;
    &.visible{
        transform: perspective(none) scaleZ(none) rotateX(none);
        opacity: 1;
        visibility: visible;
    }
}

.hero__scissor{
    transform: rotate(-13deg);
}


.clue {
    &.hidden{
        opacity: 0;
    }

    transition: all 1s ease-out;
}


.swipe{
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);

    width: 10%;
    img{
        width: 100%;
        height: 100%;
    }
}


.mouse {
    border: 2px solid #fff;
    border-radius: 17px;
    height: 50px;
    width: 30px;
    display: block;
    z-index: 10;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  .mouse .wheel {
    position: relative;
    border-radius: 4px;
    background:#fff;
    width: 2px;
    height: 7px;
    margin: auto;

    animation: wheel 1s ease-in-out infinite;
  }



  @keyframes wheel {
    0% {
      top: 3px;
      opacity: 0;
    }
    30% {
      top: 10px;
      opacity: 1;
    }
    100% {
      top: 18px;
      opacity: 0;
    }
  }






 */
.hero {
  height: 100vh;
  background-image: url("../img/fon.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
}

.hero__wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.hero-circle {
  width: clamp(30vh, 85vw, 65vh);
  height: clamp(30vh, 85vw, 65vh);
  background-image: url("../img/fon.jpg");
  border-radius: 100%;
  -webkit-box-shadow: 1.3px 1.3px 35px 6px rgba(255, 255, 255, 0.2);
          box-shadow: 1.3px 1.3px 35px 6px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.hero-circle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  border-radius: 100%;
}
.hero-circle.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.hero-circle__progress {
  z-index: 10000;
  position: relative;
  height: 100%;
  width: 100%;
}
.hero-circle__progress circle {
  --hero-progress_array: 0;
  --hero-progress_offset: 0;
  stroke-dasharray: var(--hero-progress_array);
  stroke-dashoffset: var(--hero-progress_offset);
  stroke-width: 3;
}
@media (max-width: 320px) {
  .hero-circle__progress circle {
    stroke-width: 1.5;
  }
}

.hero-info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
  text-align: center;
  color: #fff;
  /*     pointer-events: none; */
}

.hero-info__title {
  margin-bottom: clamp(0.714rem, 0.47rem + 1.3941vw, 2.143rem);
}

.hero-info__sub-title {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.clue {
  z-index: 1000000 !important;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.clue.hidden {
  opacity: 0;
}

.swipe {
  position: absolute;
  bottom: 38%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10%;
}
.swipe img {
  width: 100%;
  height: 100%;
}

.mouse {
  border: 2px solid #fff;
  border-radius: 17px;
  height: 50px;
  width: 30px;
  display: block;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mouse .wheel {
  position: relative;
  border-radius: 4px;
  background: #fff;
  width: 2px;
  height: 7px;
  margin: auto;
  -webkit-animation: wheel 1s ease-in-out infinite;
          animation: wheel 1s ease-in-out infinite;
}

@-webkit-keyframes wheel {
  0% {
    top: 3px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 18px;
    opacity: 0;
  }
}

@keyframes wheel {
  0% {
    top: 3px;
    opacity: 0;
  }
  30% {
    top: 10px;
    opacity: 1;
  }
  100% {
    top: 18px;
    opacity: 0;
  }
}
/*   .hero__decor{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(29deg);
    width: 50%;
    z-index: 1;
    pointer-events: none;
}

.hero__decor--1{
    left: 50%;
}

.hero__decor--2{
    right: 50%;
}



.hero__icon{
    transform: perspective(500px) scaleZ(2) rotateX(45deg);
    opacity: 0;
    visibility: hidden;

    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 13%;
    &.visible{
        transform: perspective(none) scaleZ(none) rotateX(none);
        opacity: 1;
        visibility: visible;
    }
}

.hero__scissor{
    transform: rotate(-13deg);
}
 */
.hero-decor {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(29deg);
          transform: translateY(-50%) rotate(29deg);
  width: 40%;
  z-index: 1;
  pointer-events: none;
}

.hero-decor--1 {
  left: 50%;
}

.hero-decor--2 {
  right: 50%;
}