.review {
  background: #E7D0D6;
  color: #000;
  border-radius: 30px;
  padding: 20% 10%;
  min-height: clamp(14.286rem, 12.5618rem + 8.6209vw, 21.429rem);
  position: relative;
}

.review__image {
  position: absolute;
  top: -20%;
  left: -10%;
  border-radius: 100px;
  overflow: hidden;
  width: clamp(4.9rem, 2.1877rem + 8.7066vw, 11.143rem);
  height: clamp(4.9rem, 2.1877rem + 8.7066vw, 11.143rem);
}
@media (max-width: 768px) {
  .review__image {
    top: -10%;
    left: -3%;
  }
}

.review__text {
  font-size: clamp(1rem, 0.931rem + 0.3452vw, 1.286rem);
  padding-bottom: 20%;
}

.review__name {
  font-size: clamp(1.286rem, 1.2172rem + 0.344vw, 1.571rem);
  font-weight: 700;
  text-align: end;
}

.review--reverse .review__image {
  top: -20%;
  right: -10%;
  left: auto;
}
@media (max-width: 768px) {
  .review--reverse .review__image {
    right: -3%;
  }
}
.review--reverse .review__text {
  text-align: end;
}